#=========================================================================
# Git Ignore Files
#=========================================================================

build*/
*.elf
*.hex
*.hexe
*.vvp
*.vcd
*.lst
*.o
*.bin
*.log